body {
    padding: 0;
    margin: 0;
    background-color: rgb(39,40,40);
    background-image: url(../images/back.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
* {
    margin: 0; 
    padding: 0;
  }
.navbar {
    transition:500ms ease;
    background:transparent;
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 50000;
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}
.navbar-scrolled {
    background: rgb(39,43,45);
    visibility: visible;
}

button:active, button:focus, section:active, section:focus, a:active, a:focus  { 
    outline: none; 
}
section {
    padding: 100px 0;
}
a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(196,154,108);
    text-align: center;
}
.logo-large {
    width: 200px;
    cursor: pointer;
}
.logo-horizontal {
  
}
a>img {
    margin-left: 10px;
    width: 60px;
}
p {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    color: grey;  
}
h2 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 0.04em;
    margin: 15px 0 30px 0;
}
h3 {
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: rgb(39,43,45);
    text-align: center;
    margin: 25px 0 30px 0; 
}
h4 {
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: rgb(39,43,45);
    margin: 15px 0 20px 0;  
}
h5 {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: rgb(39,43,45);
    text-align: center;
    margin: 15px 0 20px 0;
    text-align: left;
}
h6 {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: rgb(39,43,45);
    text-align: center;
    margin: 15px 0 20px 0;
    text-align: left;
}

button {
    cursor: pointer;
    display: block;
    width: 25%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(196,154,108);
    color: rgb(196,154,108);
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    padding: 10px 30px;
    background: none;
}
button:hover, button:active, button:focus {
  color: white;
  background: rgb(196,154,108);
}
.team-member > button {
    width: 150px;
    margin-top: 2rem;
}
.slide > button {
    width: 30%;
}
.offer-button {
    width: 200px;
}

.header {
    text-align: center;
    padding-bottom: 50px;
}
.header p {
    color: rgb(196,154,108);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4em;
    letter-spacing: 0.5px;
    max-width: 600px;
    margin: 0 auto;
}
.header p:first-of-type {
    color: rgb(196,154,108);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: 0.5px;
    width: 100%;
}
.col {
    width: 48%;
    text-align: justify;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.col li {
   font-size: 14px;
    color: grey;
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.5em;
    margin-left: 15px;
}
.ctnr {
    width: 60%;
    margin: 0 auto;
}

.top {
    padding: 0;
}
header {
    padding: 40px 20px 0 20px;
    text-align: center;
    position: relative;
}
.menu {
    background: pink;
    float: left;
}
.lang {
    position: fixed;
    top: 30px;
    left: 30px;
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
}
.lang a {
    color: white;
    font-weight: 100;
    font-size: 12px;
    padding-top: 5px;
}
.lang a:first-of-type {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.icon-mouse {
    visibility: visible;
    transition: 500ms ease;
    width: 40px;
    position: fixed;
    bottom: 10vh;
    animation: blink 2s ease-in infinite;
    left: 50%;
    margin-left: -20px;
}
.mouse-off {
    visibility: hidden;
}
@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0.4 }
}

.slideshow {
    height: 50vh;
    margin-bottom: 40vh;
    text-align:center;
}

.slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    margin: 40vh auto;
}

.slide {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 25vh;
}
.slide h1 {
    font-weight: 100;
    font-size: 45px;
    line-height: 1.2em;
    letter-spacing: 0.04em;
    color: white;
}
.slide p {
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    letter-spacing: 0.04em;  
}
.slide p:first-of-type {
    color: rgb(196,154,108);
    font-weight: 300;
    font-size: 18px;
}
.slide p:last-of-type {
    line-height: 1.5em;
}
.slide a {
    display: block;
    font-weight: 300;
    margin-top: 40px;
}


/*ABOUT*/

.two-col {
    display: flex;
    justify-content: space-between;
}
.about {
    color: white;
}
.about .col p {
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    letter-spacing: 0.04em;
    line-height: 1.5em;
}

/*OFFER*/

.offer {
    background: white;
}
.offer a {
    margin-top: 30px;
    display: block;
    font-size: 14px;
}
.icon-offer {
    width: 15%;
}
/*
.offer .col {
    text-align: center;
}
*/

/*TEAM*/

.team {
    background: rgb(252,252,252);
    background-color: rgb(252,252,252);
    background-image: linear-gradient(rgb(252,252,252), rgb(255,255,255));
    padding-top: 50px;
}
.team-ctnr {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
.team-member {
    width: 30%;
}
.team-member>img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}
.name {
    font-weight: 500;
}
.team-member a {
    display: block;
    margin-top: 10px;
}
.team-member p:nth-of-type(3) {
    text-align: justify;
    padding: 0 30px;
}

.team-member p:nth-of-type(2) {
    margin-bottom: 30px;
}

.tc2 {
    display: block;
}
.tm2 {
    width: 100%;
}
.tm2:nth-of-type(2) {
    margin: 70px 0;
}
@media only screen and (min-width: 701px) and (max-width: 1100px) {
    
}

/*KONTAKT*/

.contact {
    background: url(../images/contact-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.branch-ctnr {
    text-align: center;
/*
    display: flex;
    justify-content: space-around;
*/
}
.branch {
    padding: 0 45px;
    text-align: center;
}
.branch h5, .branch h6 {
    text-align: center;
    padding: 0;
}
.contact>.ctnr>p {
    text-align: center;
}
.contact>.ctnr>p:first-of-type {
    margin-top: 5px;
}
.branch a {
    font-size: 14px;
}


/* FOOTER*/

.footer {
    background: rgb(196,154,108);
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer p {
    color: white;
    font-size: 11px;
    font-weight: 400;
}

@media only screen and (max-width: 500px) {
    .footer {
        position: inherit;
    }
}



/*MENU*/

.button_container {
  position: fixed;
  top: 30px;
  right: 30px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  z-index: 7510000;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
@media screen and (max-width: 800px) {
    .button_container {
        top: 25px;
    }
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
          transform: translateY(8px) translateX(0) rotate(45deg);
  background: #474747;
}
.button_container.active .middle {
  opacity: 0;
  background: #474747;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
          transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #474747;
}
.button_container span {
  background: white;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 8px;
}
.button_container span:nth-of-type(3) {
  top: 16px;
}

.overlay {
  position: fixed;
/*  background: rgb(196,154,108);*/
    background: white;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s;
  overflow: hidden;
  -webkit-box-shadow: -10px 0 20px rgba(0,0,0,0.1);
  -moz-box-shadow: -10px 0 20px rgba(0,0,0,0.1);
  box-shadow: -10px 0 20px rgba(0,0,0,0.03);
    
/*  border-left: 1px solid gray;*/
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  width: 20%;
  z-index: 7509000;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .40s;
          animation-delay: .40s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.overlay nav {
  position: relative;
  height: 50%;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 10%;
  height: calc(100% / 10);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #454545;
  text-decoration: none;
  overflow: hidden;
  font-weight: 300;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  background: #000;
  opacity: 1;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*mobile menu*/











/*back to top button*/
#scroll {
    position:fixed;
    right:20px;
    bottom:70px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color: rgb(196,154,108);
    text-indent:-9999px;
    display:none;
/*    border:4px solid rgba(255,255,255,.7);*/
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index: 2535355421500;
    transition: 0.7s ease;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color: white;
}
#scroll:hover {
    background-color: rgba(196,154,108,0.7);
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/*zakres usług*/

header {
    padding-bottom: 40px;
}

/*mobile*/

@media only screen and (max-width: 900px) {
    .ctnr {
        width: 80%;
    }
    .slide h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 30px;
    }
    .slide > button {
        width: 60%;
    }
    .slideshow {
        margin-bottom: 20vh;
    }
    .logo-large {
        width: 150px;
    }
    .icon-mouse {
        display: none;
    }
    .header p {
        font-weight: 300;
        font-size: 17px;
        line-height: 1.4em;
        letter-spacing: 0.5px;
        max-width: 600px;
        margin: 0 auto;
    }
    .two-col {
        display: block;
    }
    .col {
        width: 100%;
    }
    .col:last-of-type {
        margin-top: 70px;
    }
    .about .col:last-of-type {
        margin-top: 15px;
    }
    .col li {
        font-size: 15px;
        color: grey;
        font-weight: 300;
        letter-spacing: 0.04em;
        line-height: 1.5em;
        margin-left: 15px;
    }
    .col p {
/*        text-align: left;*/
    }
    
    .icon-offer {
    width: 35%;
}
    .mobile-off {
        display: none;
    }
    .one-col-mobile {
        display: block;
    }
    .one-col-mobile p {
        text-align: justify;
    }
.team-ctnr {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
.team-member {
    width: 100%;
}
    .team-member:nth-of-type(2) {
        margin: 40px 0;
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
        padding: 30px 0;
}
.team-member>img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}
    .branch {
        padding: 0;
    }
    
/*    menu*/
    .overlay.open {
        width: 100%;
    }
    .overlay nav {
        height: 40%;
        top: 40%;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
    }
    .overlay li {
        margin: 20px 0;
    }
    
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    .icon-offer {
    width: 20%;
    } 
    .slide > button {
        width: 40%;
    }
    .logo-large {
        width: 200px;
    }
}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
    
    .team-ctnr {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding-top: 20px;
    }
    
    .team-member {
        width: 27%;
    }
    
    .team-member:nth-of-type(2) {
        margin: 0 ;
        border: none;
        padding: 0;
    }
    .tc2 {
        display: block;
    }
    .tm2 {
        width: 100%;
    }
    .tm2:nth-of-type(2) {
    margin: 70px 0;
}
}

@media only screen and (min-width: 901px) and (max-width: 1400px) {
        .icon-offer {
    width: 30%;
}
}
@media only screen and (min-width: 901px) {
    .one-col-mobile {
        display: none;
    }
}
